.question{
    background-color: #222222;
    color: #ffffff;
    border-radius: 15px;
    padding: 100px;
    font-size: 50px;
    text-align: center;
    margin-bottom: 20px;
}
.container{
    padding: 0px 20% 0px 20%;
}
.answer{
    display: flex;
    justify-content: space-between;
    /* flex-direction: row-reverse; */
}
.answer div{
    width: 300px;
    height: 200px;
    font-size: 30px;
    color: #fff;
    border-radius: 10px;
    line-height: 200px;
    text-align: center;
}
#yes{
    background-color: #dd054d;
   
}
#no
{
    background-color: #1aa260;
   
}