.user-container img{
    min-width: 40vw;
}
.user-container{
    text-align: center;
    position: relative;
    width: max-content;
    margin: auto;
}
.prev, .next{
    position: absolute;
    cursor: pointer;
    font-size: 40px;
}
.prev{
    top: 48%;
    left: -40px;
}
.next{
    right: -40px; 
    top: 48%;
}
