*{
  margin: 0;
  padding: 0;
}
#create-post textarea {
  width:  100%;
  border: 1px solid #dbdbdb ;
  border-radius:  10px;
  outline: none;
}
#create-post {
  width: 60%;
  margin:  auto;
  margin-top: 20px;
  text-align: right;
}
.post-btn{
  background-color: #1976D1;
  color: #fff;
  padding:  10px 15px;
  border-radius: 5px;
}